doctype html
html(lang='en', ng-app='daytrader')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Day Trader
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-controller='master')
    .container-fluid
      .row
        .col-xs-12
          h1 Day Trader
          h2(ng-show='userFormHide') User: {{user.userName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Balance: {{user.userBalance | currency}}
          form(name='userForm', ng-hide='userFormHide')
            .form-group
              label(for='name') Name
              input#name.form-control(type='text', name='name', ng-model='user.userName')
            .form-group
              label(for='balance') Balance
              input#balance.form-control(type='number', name='balance', value='50000', ng-model='user.userBalance')
            button(ng-click='saveUser()') Save User
        .col-xs-6
          form(name='sectorForm')
            .form-group
              label(for='sector') Sector
              input#sector.form-control(type='text', name='sector', ng-model='sector.name')
            button(ng-click='createSector()') Create Sector
        .col-xs-6
          form(name='stockForm')
            .form-group
              label(for='symbol') Symbol
              input#symbol.form-control(type='text', name='symbol', ng-model='stock.name')
            .form-group
              label(for='sectorSelector') Sector
              select#sectorSelector.form-control(name='sectorSelector', ng-model='sectorToAddTo')
                option(ng-repeat='sector in sectors', value='{{sector.$id}}') {{sector.name}}
            .form-group
              label(for='quantity') Quantity
              input#quantity.form-control(type='number', name='quantity', ng-model='stock.quantity')
            button(ng-click='addStock()') Buy Stock
      .row
        .col-xs-4(ng-repeat='sector in sectors')
          h2 {{sector.name}}
          table.table.table-striped
            thead
              tr
                th Symbol
                th Quantity
                th Total Cost
                th Sell
            tbody
              tr(ng-repeat='(key, item) in sector', ng-if='item.name.length > 0')
                td {{item.name | uppercase}}
                td {{item.quantity}}
                td {{item.position | currency}}
                td: button.btn.btn-primary.btn-sm(ng-click='removeStock(item, key, sector)') Sell
            tfoot
              tr
                td
                td
                td {{sector.sectorTotal | currency}}
                td

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
